@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    background: url(bg.jpg);
    padding: 16px;
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
}

header h2 {
    text-align: center;
}

nav ul {
    text-align: center;
}

a {
    background: black;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    border-radius: 1000px;
}

p {
    font-size: large;
}

section {
    background: grey;
}